<div class='row' style='width:100%'>
  <div class='col-lg-12'>
    <div class='box-element'>
      <a class='btn btn-outline-dark' href='/'>&#x2190;{{t 'cart.home'}}</a>
      <br />
      <table class='table'>
        <tr>
          <th>
            <h5>{{t 'cart.items'}}: <strong>{{items}}</strong></h5>
          </th>
          <th>
            <h5>{{t 'cart.total'}}:<strong>
                $<span class='total-price'>{{total}}</span></strong></h5>
          </th>
          <th style='width: 310px;'>
            <a
              id='update-cart-btn'
              class='btn btn-success'
              style='margin: 5px;'
              href='/cart/list'
            >{{t 'cart.updateItem'}}</a>
            <a
              style='float:right; margin:5px;'
              class='btn btn-success'
              href='/checkout'
            >{{t 'cart.checkout'}}</a>
          </th>
        </tr>
      </table>
    </div>
    <br />
    <div class='box-element'>
      <div class='cart-row'>
        <div style='flex:2'></div>
        <div style='flex:2'><strong>{{t 'cart.cartItems'}}</strong></div>
        <div style='flex:1'><strong>{{t 'detail.price'}}</strong></div>
        <div style='flex:1'><strong>{{t 'detail.quantity'}}</strong></div>
        <div style='flex:1'><strong>{{t 'cart.total'}}</strong></div>
        <div style='flex:1'></div>
      </div>
      {{#each cartItems}}
        <div class='cart-row' data-id='{{id}}'>
          <div style='flex:2'><a href='/product/detail/{{product.id}}'><img
                class='row-image'
                src='{{product.image}}'
              /></a></div>
          <div style='flex:2'>
            <p>{{product.name}}</p>
          </div>
          <div style='flex:1'>
            <p class='product-price'>{{product.price}}$</p>
          </div>
          <div style='flex:1'>
            <p class='quantity'>{{quantity}}</p>
            <div class='quantity'>
              <img class='chg-quantity' src='/images/arrow-up.png' />
              <img class='chg-quantity' src='/images/arrow-down.png' />
            </div>
          </div>
          <div style='flex:1'>
            <p class='product-each-total'>{{multiply
                product.price
                quantity
              }}</p>
          </div>
          <div style='flex:1'>
            <a class='btn-delete' href='#' data-item-id='{{id}}'>{{i18n
                'cart.removeItem'
              }}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<ul class='pagination'>
  {{#if paginationItemsLinks}}
    {{{paginationItemsLinks}}}
  {{/if}}
</ul>

<script src='/js/cart.js'></script>
