<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>
<link rel='stylesheet' href='/css/validate.css' />

<body>
  <!-- from login -->
  <div class='login'>
    <div class='login__container'>
      <h1>{{t 'login.signin'}}</h1>
      <div class='flash-messages'>
        {{#if flash.notfound}}
        <p class='flash flash-error'>{{flash.notfound}}</p>
        {{/if}}
        {{#if flash.error}}
        <p class='flash flash-error'>{{flash.error}}</p>
        {{/if}}
      </div>
      <form method='post' action='/auth/login' id='form-1'>
        <h5>{{t 'login.email'}}</h5>
        <div class='form-group'>
          <input id='email' type='text' class='input-login-username' name='email' />
          <span class='form-message'></span>
        </div>
        <h5>{{t 'login.password'}}</h5>
        <div class='form-group'>
          <input id='password' type='password' class='input-login-password' name='password' />
          <span class='form-message'></span>
        </div>
        <button type='submit' class='login__signInButton'>{{t
          'login.signin'
          }}</button>
      </form>
      <a href='/auth/register' class='login__registerButton'>{{t
        'login.cre_account'
        }}</a>
    </div>
  </div>
  {{!-- <script src='/js/Validator.js'></script>
  <script src='/js/validator/login.js'></script> --}}
</body>

</html>
