<link rel='stylesheet' href='/css/validate.css' />

<body>
  <!-- form signup -->
  <div class='signup'>
    <div class='signup__container'>
      <h1>{{t 'register.signup'}}</h1>
      {{#if flash.existed}}
      <p class='flash flash-error'>{{flash.existed}}</p>
      {{/if}}
      <form action='/auth/register' method='post' id='form-1'>
        <h5>{{t 'register.full_name'}}</h5>
        <div class='form-group'>
          <input id='fullName' type='text' class='input-login-username' name='fullName' />
          <span class='form-message'></span>
        </div>
        <h5>{{t 'register.email'}}</h5>
        <div class='form-group'>
          <input id='email' type='email' class='input-signup-email' name='email' />
          <span class='form-message'></span>
        </div>
        <h5>{{t 'register.password'}}</h5>
        <div class='form-group'>
          <input id='password' type='password' class='input-signup-password' name='password' />
          <span class='form-message'></span>
        </div>
        <h5>{{t 'register.confirm'}}</h5>
        <div class='form-group'>
          <input id='confirmPassord' type='password' class='input-signup-password' name='confirmPassword' />
          <span class='form-message'></span>
        </div>
        <button type='submit' class='signup__signInButton'>{{t
          'register.signup'
          }}</button>
      </form>
      <a href='/auth/login' class='signup__registerButton'>{{t
        'login.signin'
        }}</a>
    </div>
    {{#if errors}}
    <ul>
      {{#each errors}}
      <li>{{{msg}}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
  
  {{!-- <script src='/js/Validator.js'></script>
  <script src='/js/validator/register.js'></script>  --}}
</body>
