<link rel='stylesheet' href='/css/common_admin.css' />
<link rel='stylesheet' href='/css/report.css' />
<link rel='icon' type='image/x-icon' href='/img/shop_icon.ico' />
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
  integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
/>

<div class='headFunc'>
  <span>{{t "home.productRanking"}}</span>
</div>

<div class='selectMonth'>
  <div class='value-field'>
     <label >{{t "home.fromDateLabel"}}:</label>
    <input id='start-date' type='date' />
    <label >{{t "home.toDateLabel"}}:</label>
    <input id='end-date' type='date' min='' />
    <select class='form-select' aria-label='Default select example' id='info'>
      <option value='1' selected>{{t 'dashboard.revenueChart'}}</option>
      <option value='2'>{{t 'dashboard.quantityChart'}}</option>
    </select>
  </div>
  <div class='createChartBtn'><span>{{t 'dashboard.chartCreate'}}</span></div>
</div>

<canvas></canvas>

<script src='/js/chart.js'></script>
<script src='/js/reportTopChart.js'></script>

