<link rel='stylesheet' href='/css/admin/common.css' />
<link rel='stylesheet' href='/css/admin/main.css' />
<link rel='icon' type='image/x-icon' href='../img/shop_icon.ico' />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
  integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=='
  crossorigin='anonymous' referrerpolicy='no-referrer' />
<div class='main-grid'>
  <div class='element-grid total-amount'>
    <i class='fa-solid fa-dollar-sign icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'cart.total'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>

  <div class='element-grid product-total'>
    <i class='fa-solid fa-shoe-prints icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'cart.items'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>

  <div class='element-grid rating-total'>
    <i class='fa-regular fa-message icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'dashboard.totalReviews'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>

  <div class='element-grid user-total'>
    <i class='fa-solid fa-user icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'dashboard.totalUser'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>

  <div class='element-grid user-visits'>
    <i class='fa-solid fa-globe icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'dashboard.totalOnline'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>

  <div class='element-grid product-sold'>
    <i class='fa-solid fa-check-to-slot icon-element-grid' style='display: flex;'></i>
    <div class='noi-dung-element-grid'>
      <div style='font-weight: 600;'>{{t 'dashboard.totalProductSell'}}</div>
      <div class='gia-tri'></div>
    </div>
  </div>
</div>
