<link rel="stylesheet" href="/css/order_one.css">
<div class='col-lg-12'>
  <a class='btn btn-outline-dark' href='/order/allList'>&#x2190;
    {{t 'order.backToCart'}}</a>
  <hr />
  <div class="each-order" style="margin-bottom: 20px;">
    <div class="order-infomation" style="border:none;">
      <div class="ma-don-hang__don-hang order-table-header ">{{i18n 'order.codeOrder'}}: <span
          class="orderId">{{id}}<span class="ma-don-hang">
          </span></span></div>
      <div class="order-table-header ">{{i18n 'order.name'}}: <span class="infor-detail-order">{{order.name}}
        </span></div>
      <div class="order-table-header">{{i18n 'order.address'}}: <span class="infor-detail-order">{{order.address}}
        </span></div>
      <div class="order-table-header">{{i18n 'order.phone'}}: <span class="infor-detail-order">{{order.phone}}
        </span></div>
      <div class="order-table-header email">{{i18n 'order.createBy'}}: <span
          class="infor-detail-order email">{{user.email}}

        </span></div>
      <div class="order-table-header">{{i18n 'order.totalAmount'}}: <span
          class="infor-detail-order">{{order.totalAmount}}
        </span></div>
      <div class="order-table-header">{{i18n 'order.paymentMethod'}}: <span
          class="infor-detail-order">{{order.typeOrder}}
        </span></div>
      <div class="order-table-header">{{i18n 'order.orderMadeOn'}}: <span class="infor-detail-order">{{order.createdAt
          }}
        </span></div>
    </div>
  </div>
  <div class='box-element' style="width: 85%;margin-left: auto; margin-right: auto;">
    <h3>{{t 'order.orderSummary'}}</h3>
    <hr />
    <div class='cart-row'>
      <div style='flex:1'></div>
      <div style='flex:1'><strong>{{t 'cart.cartItems'}}</strong></div>
      <div style='flex:1'><strong>{{t 'detail.price'}}</strong></div>
      <div style='flex:1'><strong>{{t 'detail.quantity'}}</strong></div>
      <div style='flex:1'><strong>{{t 'detail.unit'}}</strong></div>
      <div style='flex:1'><strong>{{t 'order.totalAmount'}}</strong></div>
    </div>
    {{#each orderDetail}}
    <div class='cart-row'>
      <div style='flex:1'><a href='/product/detail/{{product.id}}'><img class='row-image' src='{{product.image}}' /></a>
      </div>
      <div style='flex:1'>
        <p class='product-name'>{{product.name}}</p>
      </div>
      <div style='flex:1'>
        <p class='price'>{{price}}$</p>
      </div>
      <div style='flex:1'>
        <p class='quantity'>{{quantity}}</p>
      </div>
      <div style='flex:1'>
        <p class='unit'>{{product.unit}}</p>
      </div>
      <div style='flex:1'>
        <p class='total'></p>
      </div>
    </div>
    {{/each}}
    <ul class='pagination'>
      {{#if paginationItemsLinks}}
      {{{paginationItemsLinks}}}
      {{/if}}
    </ul>
  </div>
</div>
<script src='/js/admin/admin.order.detail.js'></script>
